@font-face {
  font-family: 'Pacifico';
  src: local('Pacifico'),
  url('./fonts/Pacifico-Regular.ttf')
}

.logo-container a {
  text-decoration: none;
  color: #000;
}

.logo-container__logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .logo-container__logo {
    font-size: 3.2rem;
  }
}
