.pagination__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.pagination__button {
  background-color: #fff;
  border: solid 0.1rem #ccc;
  border-radius: 8px;
  color:#000;
  cursor: pointer;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.2rem;
}


.pagination__button:hover  {
  background-color: #fade42;
  border: solid 0.1rem #fade42;
}

.pagination__button--active {
  background-color: #fade42;
  border: solid 0.1rem #fade42;
  color: #000;
  cursor: pointer;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.2rem;
  border-radius: 8px;
  outline: none;
}

.pagination__button--inactive:hover {
  cursor: auto;
  background: #fff;
  border-color: #ccc;
}

@media (min-width: 768px) {
  .pagination {
    padding: 4rem 0 0;
  }
  .pagination__button, .pagination__button--active {
    width: 3rem;
    height: 3rem;
  }
}
