.app-error__main-wrapper {
  max-width: 118rem;
  margin: 15rem auto;
  height: 40rem;
}

.app-error__exclamation {
  width: 6rem;
  height: 6rem;
  margin: 3rem auto;
  border: 0.2rem solid #000;
  border-radius: 50%;
  font-size: 5rem;
  text-align: center;
  color: #F92828;
}

.app-error__text-wrapper {
  max-width: 25rem;
  margin: 3rem auto;
  padding: 1.5rem 2.5rem;
  border: 0.2rem solid #000;
  border-radius: 1.5rem;
  text-align: center;
}

.app-error__text {
  font-size: 2.24rem;
  color: #F92828;
}
