{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/prop-types": "off",
    "import/no-named-as-default": "off",
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "test/**",
        "tests/**",
        "spec/**",
        "**/__tests__/**",
        "test.{js,jsx}",
        "test-*.{js,jsx}",
        "**/*.{test,spec,story}.{js,jsx}",
        "**/jest.config.js",
        "**/webpack.config.js",
        "**/webpack.config.*.js",
        "**/rollup.config.js",
        "**/rollup.config.*.js",
        "**/gulpfile.js",
        "**/gulpfile.*.js",
        "**/Gruntfile{,.js}",
        "**/protractor.conf.js",
        "**/protractor.conf.*.js"
      ],
      "optionalDependencies": false
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
          "every": [ "id" ]
      }
    }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "comma-dangle": ["error", "always-multiline", {
      "functions": "never"
    }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "react": {
      "version": "16.2"
    }
  },
  "plugins": [
    "react"
  ],
  "overrides": [
    {
      "files": [ "**/*.story.js"],
      "rules": {
        "react/jsx-filename-extension": "off"
      }
    }
  ]
}
