.add-form__label {
  position: relative;
}

.add-form__offer-textarea {
  color: inherit;
  padding: 1.5rem;
  margin: 1rem 0;
  background-color: #FFFFFF;
  height: 15rem;
  width: 100%;
  border: 0.1rem solid #999;
  border-radius: 0.5rem;
}

.add-form__offer-textarea::placeholder {
  text-align: center;
  padding: 5rem 0;
}

.add-form__input--disabled {
  background-color: #E0E0E0;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}

.add-form__error-message {
  position: absolute;
  bottom: -3rem;
  right: 0;
  font-size: 1.2rem;
  color: #F92828;
}
