.add-form__label {
  position: relative;
}

.add-form__input {
  color: inherit;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #E0E0E0;
  border: none;
}

.add-form__input--XL {
  height: 15rem;
  width: 90%;
  margin-bottom: -1rem;
}

.add-form__input--XL::placeholder {
  text-align: center;
  padding: 5rem 0;
}

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}

.add-form__error-message {
  position: absolute;
  bottom: -3rem;
  right: 0;
  font-size: 1.2rem;
  color: red;
}
