.input-select {
	width: 250px;
	border: none;
  background-color: #E0E0E0;
	color: inherit;
	outline: none;
  padding: 5px;
  margin-left: 10px;
}

.input-select__errorMessage {
  font-size: 0.75rem;
  color: red;
  margin-top: 5px;
  text-align: right;
}

.input-select__item-option {
	color: #000;
	background-color: #E0E0E0;
  font-size: 1.05rem;
}