footer {
  font-size: 1.4rem;
  margin-top: 10rem;
  background: #000;
  color: #999999;
}

.footer-top {
  display: none;
}

.footer-bottom {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  footer {
    font-size: 1.5rem;
  }
  .footer-top {
    display: block;
    margin: 0 auto;
    max-width: 76.8rem;
  }

  .footer-top__headers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 6rem;
    padding-top: 6rem;
  }

  .footer-top--header {
    padding: 0 2.5rem;
    font-weight: 400;
  }

  .footer-top__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 5rem;
    border-bottom: 0.15rem solid #ccc;
  }

  .footer-top__row {
    padding: 0 2.5rem;
  }

  .footer-top__row--link {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 1rem;
    font-family: 'Lato-Thin';
  }

  .footer-top__row--link:hover {
    width: fit-content;
    box-shadow: inset 0 0 0 #fff, inset 0 -0.1rem 0 #fff;
    transition: box-shadow 0.25s ease;
  }

  .footer-bottom {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
}

@media (min-width: 1025px) {
  footer {
    font-size: 1.6rem;
  }
  .footer-top {
    max-width: 118rem;
  }
}
