.search-results {
  width: 80%;
  margin: 5rem auto;
  padding: 3rem 0;
  border: 0.1rem solid #A9A9A9;
  box-shadow: 1.4rem 1.2rem 0.9rem darkgrey;
}

.search-results__title {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.search-results__list {
  margin: 5rem 2rem;
}

.search-results__heading{
  display: flex;
  font-weight: 700;
  margin: 4rem 2rem;
}

.search-results__heading-item {
  margin: 1.5rem 0;
  font-size: 1.9rem;
}

.search-results__heading-wide {
  width: 30rem;
  flex-grow: 2;
}

.search-results__heading-narrow {
  width: 15rem;
  flex-grow: 1;
}
