.search-results {
  width: 80%;
  margin: 5rem auto;
  padding: 3rem 0;
  border: 0.1rem solid #A9A9A9;
  box-shadow: 1.4rem 1.2rem 0.9rem darkgrey;
}

.search-results__title {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.search-results__list {
  margin: 7rem 2rem;
}
