.search-results__title {
  font-weight: normal;
  font-size: 2.2rem;
  text-align: center;
  padding: 2rem;
}

.search-results__heading {
  display: none;
}

.search-results__heading-item {
  margin: 0.8rem 0;
  font-size: 1.9rem;
}

@media (min-width: 768px) {
  .search-results {
    max-width: 118rem;
    padding: 0 2.5rem;
    margin: 5rem auto;
    border-radius: 8px;
  }
  .search-results__heading {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    background-color: #fade42;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .search-results__heading-item {
    margin: 1rem 0;
    font-size: 2rem;
  }
  .search-results__list {
    border-radius: 8px;
    position: relative;
    background: #fff;
    list-style: none;
  }
  .search-results__list:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    background: #fade42;
    z-index: -1;
  }
  .search-results__list-wrapper {
    box-shadow: 0.1rem 0.2rem 1rem 0.5rem #9e9e9e33;
    border-radius: 8px;
  }
  .search-results__title {
    padding-bottom: 3rem;
  }
 }

 @media (min-width:1025px) {
  .search-results__list {
    border-radius: 0;
  }
  .search-results__heading-item {
    margin: 0.8rem 0;
  }
 }
