.register-form {
  border: 0.1rem solid #A9A9A9;
  border-radius: 0.5rem;
  padding: 2rem 2rem 0 2rem;
  margin: 10rem auto;
  position: relative;
  width: 59rem;
}

.register-form__icon-container {
  text-align: center;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border: 0.1rem solid #A9A9A9;
  border-radius: 50%;
  top: -2%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #E0E0E0;
}

.register-form__icon {
  color: #24313c;
  font-size: 3.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.register-form__fieldset {
  border: none;
  margin-top: 2.5rem;
}

.register-form__title {
  font-size: 2.4rem;
  text-align: center;
}

.register-form__item {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 4rem;
}

.input--M {
  width: 30rem;
}

.register-form__item--button {
  margin-left: 26rem;
}

.register-form__item--checkbox{
  position:absolute;
  width: 2rem;
  bottom: 1.5rem;
}

.input-select--inline {
  width: 30rem;
  margin-left: 1.6rem;
  height: 5rem;
}
