header {
  display: grid;
  justify-items: center;
}

nav {
  align-self: center;
}

.add-offer {
  justify-self: end;
}

@media (min-width: 768px) {
  header {
    font-size: 3.2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
