header {
  width: 100%;
  margin-bottom: 3rem;
  max-height: 5.4rem;
  background: #fff;
  font-size: 1.4rem;
  box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.4);
  z-index: 2;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logo {
  height: 5rem;
  width: 5rem;
  padding-top: 0.2rem;
}

.logo__link {
  padding-left: 2.5rem;
}

nav {
  position: relative;
  grid-column: 4 / span 1;
  display: grid;
  justify-items: end;
  align-items: center;
}

nav a {
  color: #000;
  text-decoration: none;
}

.user-name {
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__arrow {
  margin-right: 1.5rem;
  border: 0;
  outline: none;
  background-color: transparent;
  height: 2.3rem;
}

.header__links {
  position: absolute;
  top: 5.2rem;
  background: #fff;
  box-shadow: 0 0.7rem 1rem 0 rgba(0,0,0,0.2);
}

.header__link {
  display: block;
  padding: 1rem 1.5rem 1rem 1rem;
  text-align: right;
  width: 11rem;
}

.header__link:hover {
    color:#FFFFFF;
    background-color: #fade42;
    border-radius: 0.1rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

.fa-angle-down, .fa-angle-up {
  width: 2rem;
  font-size: 1.5rem;
  padding-top: 0.3rem;
}

.menu-visible {
  display: block;
}

.menu-invisible {
  display: none;
}

@media (min-width: 768px) {
  header {
    position: absolute;
    top: 5rem;
    font-size: 1.5rem;
    padding: 0;
    box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.4);
  }
  .header__container {
    max-width: 76.8rem;
    margin: 0 auto;
  }

  .header__arrow {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1025px) {
  header {
    padding: 0;
    font-size: 1.6rem;
  }
  .header__container {
    max-width: 118rem;
    padding: 0 2.5rem;
    display: flex;
    justify-content: flex-end;
  }
  .logo__link {
    margin-right: auto;
  }
  nav {
    display: flex;
  }
  .header__links {
    position: static;
    display: flex;
    justify-items: end;
    box-shadow: none;
    width: auto;
  }
  .header__link {
    width: auto;
    padding-right: 1rem;
  }
  .header__arrow {
    margin: 0 1rem 0 0;
  }
  .user-name {
    font-size: 1.6rem;
  }
  .header__icons {
    display: none;
  }
}
