.users__personal-data-processing--label{
  display: block;
  position: relative;
  width: 18rem;
  padding-left: 3.5rem;
  text-justify: inter-word;
  font-size: 1.36rem;
}

.users__personal-data-processing--input{
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.users__personal-data-processing-error-message {
  position: absolute;
  left: 3.5rem;
  bottom: -1.3rem;
  font-size: 1.2rem;
  color: #FF0000;
}
