.search__input-wrapper {
  margin: 0 1rem;
  display: flex;
  position: relative;
}

.search__form-item {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-height: 3.5rem;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 0;
}

.search__message-error {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem 0;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .search__input-wrapper {
    border: 0.1rem solid #999;
    z-index: 3;
  }

  .search__message-error {
    margin: 0;
  }
}

@media (min-width: 1025px) {
  .search__input-wrapper {
    margin: 3rem 1rem 0 1rem;
  }
}
