.search__wrapper {
  height: 28rem;
  background: url("/img/search-section/mobile.jpg");
  background-size: cover;
  background-position: 100% 100%;
}

.search__header {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.search__form {
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .search__wrapper {
    height: 50rem;
    margin: 0;
  }
  .search__header {
    padding-top: 16rem;
  }
  .search__form {
    width: 90%;
    padding-top: 2rem;
  }
}

@media (min-width: 1025px) {
  .search__wrapper {
    margin: 0;
  }
  .search__header {
    padding-top: 16rem;
  }
  .search__form {
    width: 50%;
    padding-top: 2rem;
  }
}
