.search__header {
  padding-top: 3rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.search__form-home {
  width: 95%;
  margin: 0 auto;
  padding: 2rem 0;
}

.search__form, .search__form-results {
  width: 95%;
  margin: auto;
  padding-top: 0;
}

.search__wrapper, .search__wrapper-results {
  grid-column: 1 / span 5;
  grid-row: 2 / 2;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .search__wrapper-home {
    height: 50rem;
    margin: 0;
  }

  .withYellowBackground .search__wrapper {
    grid-column: 3 / span 5;
    grid-row: 1 / 1;
    margin: 0;
  }

  .search__wrapper-results {
    grid-column: 1 / span 12;
    grid-row: 2 / 2;
  }

  .search__header {
    padding-top: 5rem;
  }

  .search__form-home, .search__form-results{
    width: 75rem;
  }

  .search__form {
    width: 100%;
    padding-top: 1rem;
    margin: 0;
  }
}

@media (min-width: 1025px) {
  .withYellowBackground .search__wrapper {
    grid-column: 3 / span 7;
  }

  .search__wrapper-home {
    margin: 0;
  }

  .search__wrapper-results {
    grid-column: 4 / span 11;
    grid-row: 2 / 2;
  }

  .search__form-home {
    width: 80rem;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .search__form, .search__form-results{
    margin: 0;
    padding-top: 1rem;
    z-index: 2;
    position: relative;
    max-width: 80rem;
  }
}
