.search__input-wrapper {
  margin: 1rem 0 0 0;
  padding: 0;
  display: flex;
  position: relative;
  box-shadow: 0 .2rem 1rem 0 rgba(0,0,0,.4);
}

.search__form-item {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-height: 3.5rem;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 0;
}

.search__message-error {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem 0 ;
  margin: 1rem 0;
}

@media (min-width: 768px) {
  .search__input-wrapper {
    margin: 0 5rem;
    padding: 0;
    border: 0.1rem solid #999;
    z-index: 3;
  }

  .withYellowBackground .search__input-wrapper {
    margin: 0;
    box-shadow: none;
  }

  .withSearchBar .search__input-wrapper {
    margin: 1rem 6.7rem 0 3.7rem;
  }

  .search__message-error {
    font-size: 1.5rem;
  }
}

@media (min-width: 1025px) {
  .withSearchBar .search__input-wrapper {
    margin: 1rem 2.3rem 0 3.3rem;
    padding: 0;
    border: 0.1rem solid #999;
    z-index: 3;
  }
}
