.search__input-wrapper {
  margin: 3rem 1rem 0 1rem;
  display: flex;
  position: relative;
  box-shadow: 0 0.2rem 1rem 0 rgba(0,0,0,0.4);
}

.search__form-item {
  display: block;
  width: 100%;
  margin: 0 auto;
  max-height: 3.5rem;
  border: none;
  outline: none;
  text-align: center;
  padding: 1rem 0;
}

.search__message-error {
  text-align: center;
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

@media (min-width: 768px) {
  .search__input-wrapper {
    margin: 3rem 0 0 1rem;
  }
}
