.services-item {
  list-style-type: decimal;
  margin: 15px 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.services-item__title {
  width: 300px;
  flex-grow: 2;
  margin: auto;

}

.services-item__price {
  width: 150px;
  flex-grow: 1;
  margin: auto;
}

.services-item__date {
  width: 150px;
  flex-grow: 1;
  margin: auto;
}

