.form__button {
  height: 100%;
  width: 100%;
  background-color: #fade42;
  border: none;
  border-radius: 0.5rem;
  color: #000;
  text-align: center;
  font-size: 1.92rem;
  transition: all 0.2s ease-out;
}

.form__button:hover {
 cursor: pointer;
 transform: scale(0.97);
}
