.form__button {
  height: 6rem;
  width: 20rem;
  background-color: #24313c;
  border: none;
  color: #ffffff;
  padding: 2rem;
  font-size: 1.92rem;
  transition: all 0.2s ease-out;
}

.form__button:hover {
 cursor: pointer;
 transform: scale(0.9);
}
