.input-title {
	width: 250px;
  border: none;
  height: 27px;
  background-color: #E0E0E0;
	color: inherit;
	outline: none;
  padding: 5px 5px 5px 10px;
  margin-left: 10px;
}

.input-title__errorMessage {
  font-size: 0.75rem;
  color: red;
  margin-top: 5px;
  text-align: right;
}
