.input-title {
	height: 100%;
	width: 100%;
	border: none;
	background-color: transparent;
	color: inherit;
  outline: none;
  padding-left: 10px;
}

.input-title__errorMessage {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0.75rem;
  color: #fdde6b;
}