.input-select__inline-label {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0.1rem solid #999;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 30% 1fr;
}

.input-select__label {
  text-align: center;
  align-self: center;
}

.input-select {
  border: none;
  border-left: 0.1rem solid #999;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding-left: 1rem;
}

.input-select--custom {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  background: url("/assets/images/generic-select/arrow-down.png") no-repeat right #fff;
  background-position-x: 17rem;
  background-size: 2rem 3rem;
}

.input-select__errorMessage {
  position: absolute;
  right: 0;
  bottom: -2.5rem;
  font-size: 1.2rem;
  color: #F92828;
}

@media (min-width: 768px) {
  .input-select--custom {
    background-position-x: 25rem;
  }
}

@media (min-width: 1025px) {
  .input-select--custom {
    background-position-x: 35rem;
  }
}
