@font-face {
  font-family: 'Lato';
  src: local('Lato'),
  url('./fonts/Lato-Regular.ttf')
}

@font-face {
  font-family: 'Lato-Thin';
  src: local('Lato-Thin'),
  url('./fonts/Lato-Thin.ttf')
}

@font-face {
  font-family: 'Lato-Bold';
  src: local('Lato-Bold'),
  url('./fonts/Lato-Bold.ttf')
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

button {
  font-family: 'Lato', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  min-height: calc(100vh - 16rem);
}

@media (min-width: 768px) {
  .content {
    min-height: calc(100vh - 65.7rem);
  }
}
