@import url('https://fonts.googleapis.com/css?family=Fira+Sans&subset=latin-ext');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1180px;
  margin: 0 auto;
  font-family: 'Fira Sans', sans-serif;
}
