.input__wrapper {
  position: relative;
  margin: 1.5rem 0;
}

.input__wrapper--inline {
  display:flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.input__label {
  margin: 1.5rem;
}

.input__label--inline {
  display: inline-block;
  text-align: right;
}

.input__label--block {
  display: block;
  margin: 1rem 0;
}

.input__label--M {
	width: 9rem;
}

.input__label--S {
  width: 9rem;
}

.input__label--disabled {
  color: #D0D0D0;
}

.input {
  color: inherit;
  padding: 1rem;
  border: none;
}

.input--grey {
  background-color: #E0E0E0;
}

.input--yellow {
  background-color: #FEECA5;
}

.input--M {
  width: 25rem;
}

.input--S {
  width: 10rem;
}

.input__error-message {
  position: absolute;
  right: 0;
  font-size: 0.9rem;
  color: #FF0000;
}

.input__error-message--block {
  bottom: -2.5rem;
}

.input__error-message--inline {
  bottom: -1.1rem;
}

.input:disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.input:disabled::placeholder {
  color: #D0D0D0;
}
