.add-form__label {
  position: relative;
}

.add-form__input--yellow {
  background-color: #FEECA5;
  border: none;
}

.add-form__input {
  color: inherit;
  padding: 10px;
  margin-top: 10px;
  background-color: #E0E0E0;
  border: none;
}

.add-form__input--yellow {
  background-color: #FEECA5;
  border: none;
}

.add-form__input--L {
  height: 150px;
  width: 90%;
  margin-bottom: -10px;
}

.add-form__error-message {
  position: absolute;
  bottom: -30px;
  right: 0;
  font-size: 0.75rem;
  color: red;
}
