.add-form__label {
  position: relative;
}

.add-form__label--hidden {
  position: absolute;
  left: -9999px;
}

.add-form__input {
  color: inherit;
  padding: 10px;
  margin-top: 10px;
  background-color: #E0E0E0;
  border: none;
  font-size: 0.9rem;
}

.add-form__input--XS {
  width: 150px;
}

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__error-message {
  position: absolute;
  bottom: -35px;
  right: 0;
  font-size: 0.75rem;
  color: red;
}

.add-form__input-currency {
  position: absolute;
  top: 0;
  right: 10px;
  color: #3F3F3F;
}
