.input {
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 5px;
  font-size: 1rem;
  outline: none;
}

.input__errorMessage {
  position: absolute;
  bottom: -20px;
  right: 0;
  font-size: 0.75rem;
  color: #fdde6b;
}

.input__label {
  position: absolute;
  left: -999em;
}

::-webkit-input-placeholder {
  text-align: right;
}
