.add-form__label {
  position: relative;
}

.add-form__label--hidden {
  position: absolute;
  left: -9999px;
}

.add-form__input {
  color: inherit;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #E0E0E0;
  border: none;
  font-size: 1.44rem;
}

.add-form__input--XS {
  width: 15rem;
}

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__error-message {
  position: absolute;
  bottom: -3.5rem;
  right: 0;
  font-size: 1.2rem;
  color: red;
}

.add-form__input-currency {
  position: absolute;
  top: 0;
  right: 1rem;
  color: #3F3F3F;
}
