.add-form__label {
  position: relative;
}

.add-form__label--hidden {
  position: absolute;
  left: -9999px;
}

.add-form__input {
  color: inherit;
  padding: 10px;
  margin-top: 10px;
  background-color: #E0E0E0;
  border: none;
}

.add-form__input--XS {
  width: 150px;
}

.add-form__input--XS::placeholder {
  text-align: right;
}

.add-form__error-message {
  position: absolute;
  bottom: -30px;
  right: 0;
  font-size: 1rem;
  color: red;
}
