@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1180px;
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Fira Sans', sans-serif;}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.add-offer {
  justify-self: end;
}

.logo-container a {
  text-decoration: none;
  color: #000;
}

.logo-container__logo {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.search__form {
  margin: 0 auto;
  width: 640px;
  max-width: 100%;
  padding: 50px 15px;
}
.search__form-item {
  padding: 15px;
}
.search__input-wrapper {
  float: left;
  margin-right: 15px;
  width: calc(100% - 165px);
}
.search__message-error {
  font-family: 'Fira Sans', sans-serif;
  font-size: 15px;
  padding: 15px 0;
}
#search__input {
  border: solid 3px #9c9b9b;
  width: 100%;
}
#search__input:focus {
  outline: none;
  border-color: #fade42;
  transition: all 0.5s;
}
