@import url('https://fonts.googleapis.com/css?family=Pacifico');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 1180px;
  margin: 0 auto;
  max-width: 100%;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.search__form {
  margin: 0 auto;
  width: 400px;
  max-width: 100%;
  padding: 50px 15px;
}
.search__form-item {
  padding: 15px;
}
.search__input-wrapper {
  float: left;
  margin-right: 15px;
}
.search__message-error {
  padding: 15px 0;
}
#search__input {
  border: solid 3px #9c9b9b;
}
#search__input:focus {
  outline: none;
  border-color: #fade42;
  transition: all 0.5s;
}
