.signup-form {
  font-size: 1.4rem;
  margin-top: 5rem;
}

.signup-form__title {
  font-size: 2rem;
  text-align: center;
}

.signup-form__item {
  height: 4rem;
  margin: 0rem auto 4rem auto;
}

.signup-form__item--input {
  width: 29rem;
}

.signup-form__item--button {
  width: 19.5rem;
}

.signup-form__login-link {
  width: 19.5rem;
  margin: 2rem auto 0rem auto;
  text-align: right;
}

.signup-form__errors {
  height: 4rem;
}

.signup-form__error, .signup-form__email-exists-message {
  color: #F92828;
  text-align: center;
  padding-top: 0.5rem;
}

.signup-form__error {
  font-size: 1.2rem;
}

.signup-form__email-exists-message {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .signup-form {
    font-size: 1.5rem;
    margin-top: 20rem;
  }
  .signup-form__item--input {
    width: 40rem;
  }
  .signup-form__item--button, .signup-form__login-link {
    width: 28rem;
  }
}

@media (min-width: 1025px) {
  .signup-form__item--input {
    width: 55rem;
  }
}
