.users__personal-data-processing--label{
  display: block;
  position: relative;
  width: 180px;
  padding-left: 35px;
  text-justify: inter-word;
  font-size: 0.85rem;
}

.users__personal-data-processing--input{
  position: absolute;
  top: 25px;
  left: 0;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.users__personal-data-processing-error-message {
  position: absolute;
  left: 35px;
  bottom: -13px;
  font-size: 0.75rem;
  color: #FF0000;
}
