.about-me__inline-label {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0.1rem solid #999;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 30% 1fr;
}

.about-me__label {
  text-align: center;
  align-self: center;
}

.about-me__textarea {
  border: none;
  border-left: 0.1rem solid #999;
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
}

.add-form__error-message {
  position: absolute;
  bottom: -3rem;
  right: 0;
  font-size: 1.2rem;
  color: #F92828;
}
