.offer-details__header, .offer-details__category {
  text-align: center;
}

.offer-details__header {
  margin-bottom: 2rem;
  font-size: 4rem;
   font-weight: bold;
  border-bottom: solid 0.2rem #fada27;
}

.offer-details__category {
  margin-bottom: 4rem;
  color: #555;
  font-size: 1.76rem;
}
