.login-form {
  font-size: 1.4rem;
  margin-top: 5rem;
}

.login-form__title {
  font-size: 2rem;
  text-align: center;
}

.login-form__item {
  height: 4rem;
  margin: 4rem auto 0rem auto;
}

.login-form__item--input {
  width: 29rem;
}

.login-form__item--button {
  width: 19.5rem;
}

.login-form__register-link-container {
  width: 19.5rem;
  margin: 2rem auto 0rem auto;
  text-align: right;
}

.login-form__register-link {
    width: fit-content;
    box-shadow: inset 0 0 0 #000, inset 0 -0.1rem 0 #000;
}

.login-form__errors {
  height: 4rem;
  color: #F92828;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .login-form {
    font-size: 1.5rem;
  }
  .login-form__item--input {
    width: 40rem;
  }
  .login-form__item--button, .login-form__register-link-container {
    width: 28rem;
  }
}

@media (min-width: 1025px) {
  .login-form__item--input {
    width: 55rem;
  }
}
