.input-title {
	width: 25rem;
  border: none;
  height: 3rem;
  background-color: #E0E0E0;
	color: inherit;
	outline: none;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin-left: 1rem;
  box-sizing: border-box;
}

.add-form {
  font-size: 1.2rem;
  margin: 4rem;
}

@media (min-width: 768px) {
  .add-form {
    font-size: 1.3rem;
    margin: 15rem;
  }
  .register-form__item--input {
    width: 40rem;
  }
}

@media (min-width: 1025px) {
  .add-form {
    font-size: 1.4rem;
  }
  .register-form__item--input {
    width: 55rem;
  }
}

.add-form__item {
  height: 4rem;
  margin: 4.7rem auto 0rem auto;
}

.add-form__item--input {
  width: 29rem;
}

.add-form__item--button {
  width: 19.5rem;
}

.add-form_span--block {
  display: block;
}

.add-form_span--inline {
  display: inline;
}

@media screen and (max-width: 960px) {
  .add-form {
    max-width: 100%;
  }
}

.add-form__title {
  font-size: 3rem;
  text-align: center;
}

.add-form__error {
  position: absolute;
  bottom: 0;
  left: 3rem;
  font-size: 1.6rem;
  color: #F92828;
}

.add-form__fieldset {
  position: relative;
  border: none;
  padding: 4rem 0 5rem 0;
  border-bottom: 1px solid;
}

.add-form__fieldset-title {
  font-size: 2.2rem;
  margin-top: 3rem;
  text-align: center;
}

.add-form__fieldset-wrapper {
  width: 55rem;
  margin: 4.7rem auto;
}

.add-form__caption {
  font-size: 1.28rem;
  color: #24313c;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Inputs Styles */

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}

.input-title__errorMessage {
  font-size: 1.2rem;
  color: #F92828;
  margin-top: 0.5rem;
  text-align: right;
}

.add-form__item--input {
  width: 29rem;
}

.add-form__item--button {
  width: 19.5rem;
}

@media (min-width: 768px) {
  .add-form__item--input {
    width: 40rem;
  }
  .add-form__item--button, .register-form__login-link {
    width: 28rem;
  }
}

@media (min-width: 1025px) {
  .add-form__item--input {
    width: 55rem;
  }
}
