.add-form {
  font-size: 1.1rem;
  margin: 3rem 2rem 0 2rem;
}

.add-form__item {
  height: 3rem;
  margin: 3rem auto 0rem auto;
}

.add-form__item--input {
  width: 29rem;
}

.add-form__item--button {
  width: 19.5rem;
}

.add-form__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.add-form__error-message--wrapper {
  text-align: center;
}

.add-form__error-message--paragraph {
  font-size: 1.6rem;
  color: #F92828;
}

.add-form__fieldset {
  position: relative;
  border: none;
  padding: 2rem 0 4rem 0;
  border-bottom: 1px solid;
}

.add-form__fieldset:nth-last-child(1) {
  border: none;
  padding: 2rem 0 0 0;
}

.add-form__fieldset-title {
  font-size: 1.6rem;
  margin: 2rem 0;
  text-align: center;
}

.add-form__fieldset-wrapper {
  width: 29rem;
  margin: 3rem auto 0 auto;
}

.add-form__fieldset-item--textarea {
  margin-top: 3rem;
}

.add-form__caption {
  margin-top: 1rem;
}

.add-form__caption--paragraph {
  font-size: 1.5rem;
  color: #24313c;
}

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}

@media (min-width: 500px) {
  .add-form__item--input, .add-form__fieldset-wrapper {
    width: 40rem;
  }
  .add-form {
    margin: 3rem 4rem 0 4rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 768px) {
  .add-form__item--input, .add-form__fieldset-wrapper {
    width: 56rem;
  }

  .add-form {
    margin: 13rem 10rem 0 10rem;
  }
}