@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,800,900&subset=latin-ext');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.add-form {
  max-width: 80%;
  margin: 30px auto;
  background-color: #FFFFFF;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: #000000;
  border: 1px solid #A9A9A9;
}

@media screen and (max-width: 960px) {
  .add-form {
    max-width: 100%;
  }
}

.add-form__title {
  font-size: 1.75rem;
  text-align: center;
  padding-top: 30px;
  /* margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; */
}

.add-form__fieldset--basic {
  border: none;
  padding: 20px;
  margin-right: 10px;
}

.add-form__fieldset--offers {
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  position: relative;
  margin: 30px;
  padding: 20px;
  padding-bottom: 40px;
}

.add-form__fieldset--offers::before {
  content: '';
  text-align: center;
  position: absolute;
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  border-radius: 50%;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fdde6b;
}

.add-form__fieldset--offers::after {
  font-family: FontAwesome;
  content: "\f291";
  font-size: 45px;
  color: #221e1d;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.add-form__fieldset--about {
  background-color: #FDDE6B;
  padding: 20px 50px;
  color: #282828;
  border: none;
}

.add-form__fieldset-title {
  font-size: 1.1rem;
  margin-top: 50px;
  text-align: center;
}

.add-form__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.add-form__fieldset-wrapper--basic {
  display: flex;
  justify-content: flex-end;
}

.add-form__fieldset-item--basic {
  padding: 10px 20px;
}

.add-form__fieldset-item--margin-top {
  margin-top: 30px;
}

.add-form__fieldset-item--textarea {
  align-self: center;
  flex-grow: 2;
  margin-top: 60px;
}

.add-form__fieldset-item--button {
  padding: 20px 0 20px 20px;
}

.add-form__caption {
  font-size: 0.8rem;
  color: #24313c;
  margin-right: 10px;
  margin-top: 10px;
}

/* Inputs Styles */

.add-form__label {
  position: relative;
}

.add-form__label--hidden {
  position: absolute;
  left: -9999px;
}

.add-form__input {
  color: inherit;
  padding: 10px;
  margin-top: 10px;
  background-color: #E0E0E0;
  border: none;
}

.add-form__input--yellow {
  background-color: #FEECA5;
  border: none;
}

.add-form__input--XL {
  height: 150px;
  width: 90%;
  margin-bottom: -10px;
}

.add-form__input--XL::placeholder {
  text-align: center;
  padding: 50px 0;
}

.add-form__input--L {
  height: 150px;
  width: 500px;
  margin-bottom: -10px;
}

.add-form__input--M {
  width: 300px;
  margin-left: 10px;
}

.add-form__input--S {
  width: 250px;
}

.add-form__input--XS {
  width: 150px;
}

.add-form__input--XS::placeholder {
  text-align: right;
}

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 1px solid #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}

.add-form__error-message {
  position: absolute;
  bottom: -30px;
  right: 0;
  font-size: 1rem;
  color: red;
}

.add-form__error-message--temporary-priceInput {
  font-size: 0.75rem;
  color: red;
  margin-top: 5px;
  text-align: right;
}

.add-form__error-message--temporary-offerTextArea {
  font-size: 0.75rem;
  color: red;
  margin: 10px 70px 0 0;
  text-align: right;
}

/* Button Styles */

.add-form__submit {
  height: 60px;
  width: 200px;
  background-color: #24313c;
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 1.2rem;
  transition: all 0.2s ease-out;
}

.add-form__submit:hover {
 cursor: pointer;
 transform: scale(0.9);
}
