.add-form {
  max-width: 80%;
  margin: 3rem auto;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  color: #000000;
  border: 0.1rem solid #A9A9A9;
}

@media screen and (max-width: 960px) {
  .add-form {
    max-width: 100%;
  }
}

.add-form__title {
  font-size: 2.8rem;
  text-align: center;
  padding-top: 3rem;
}

.add-form__fieldset{
  position: relative;
}

.add-form__error {
  position: absolute;
  bottom: 0;
  left: 3rem;
  font-size: 1.6rem;
  color: #FF0000;
}

.add-form__fieldset--basic {
  border: none;
  padding: 2rem;
  margin-right: 1rem;
}

.add-form__fieldset--offers {
  border: 0.1rem solid #A9A9A9;
  border-radius: 0.5rem;
  position: relative;
  margin: 3rem;
  padding: 2rem;
  padding-bottom: 4rem;
}

.add-form__fieldset--offers::before {
  content: '';
  text-align: center;
  position: absolute;
  width: 7rem;
  height: 7rem;
  border: 0.1rem solid grey;
  border-radius: 50%;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fdde6b;
}

.add-form__fieldset--offers::after {
  font-family: Pacifico, serif;
  content: "Sm";
  font-size: 3.2rem;
  color: #221e1d;
  position: absolute;
  top: -4.5%;
  left: 50%;
  transform: translateX(-50%);
}

.add-form__fieldset--about {
  background-color: #FDDE6B;
  padding: 2rem 5rem;
  color: #282828;
  border: none;
}

.add-form__fieldset-title {
  font-size: 1.76rem;
  margin-top: 5rem;
  text-align: center;
}

.add-form__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.add-form__fieldset-wrapper--basic {
  display: flex;
  justify-content: flex-end;
}

.add-form__fieldset-item--basic {
  padding: 1rem 2rem;
}

.add-form__fieldset-item--margin-top {
  margin-top: 3rem;
}

.add-form__fieldset-item--textarea {
  align-self: center;
  flex-grow: 2;
  margin-top: 6rem;
}

.add-form__fieldset-item--button {
  padding: 2rem 0 2rem 2rem;
}

.add-form__caption {
  font-size: 1.28rem;
  color: #24313c;
  margin-right: 1rem;
  margin-top: 1rem;
}

/* Inputs Styles */

.add-form__input--disabled {
  background-color: #FFFFFF;
  border: 0.1rem solid #D0D0D0;
  color: #D0D0D0;
}

.add-form__input--disabled::placeholder {
  color: #D0D0D0;
}
