@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
  url('./fonts/Merriweather-Regular.ttf')
}

.offer-details {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #A9A9A9;
}

.offer-details__header, .offer-details__category {
  text-align: center;
}

.offer-details__header {
  margin-bottom: 20px;
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  border-bottom: solid 2px #fada27;
}
.offer-details h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.offer-details__category {
  margin-bottom: 40px;
  color: #555;
  font-size: 1.1rem;
}

.offer-details__contact {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40% 55%;
  grid-column-gap: 60px;
}

.offer-details__contact--container--email, .offer-details__contact--container--phone {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 30px;
}

.offer-details__contact--button {
  margin: 0 10px;
  background-color: #000;
  border: solid 3px #fade42;
  color:#fade42;
  cursor: pointer;
  transition: all 0.5s;
  padding: 5px 10px;
}

.offer-details__offers {
  margin: 50px 20px 0 10px;
  display: flex;
  justify-content: center;
}

.offer-details__offers--base, .offer-details__offers--extended, .offer-details__offers--extra {
  width: 33%;
  box-shadow: 1px 1px 9px 5px #a9a9a994;
  padding: 0 0 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;
}

.offer-details__offers--base--header {
  background-color: #fada2757;
}
.offer-details__offers--extended--header {
  background-color: #fada27a6;
}

.offer-details__offers--extra--header {
  background-color: #fada27;
}

.offer-details__offers--base--header, .offer-details__offers--extended--header, .offer-details__offers--extra--header {
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 10px;
  margin: 0;
}

.offer-details__offers--base--description, .offer-details__offers--extended--description, .offer-details__offers--extra--description {
  min-height: 200px;
  padding: 10px;
}

.offer-details__offers--base--price, .offer-details__offers--extended--price, .offer-details__offers--extra--price {
  margin-top: 20px;
  text-align: center;
}
