@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
  url('./fonts/Merriweather-Regular.ttf')
}

.offer-details {
  width: 70%;
  margin: 0 auto;
  padding: 5rem;
  border: 0.1rem solid #A9A9A9;
  font-size: 1.6rem;
}

.offer-details__header, .offer-details__category {
  text-align: center;
}

.offer-details__header {
  margin-bottom: 2rem;
  font-size: 4.8rem;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  border-bottom: solid 0.2rem #fada27;
}
.offer-details h3 {
  font-family: 'Merriweather', serif;
  font-size: 1.92rem;
  margin-bottom: 0.8rem;
}

.offer-details__category {
  margin-bottom: 4rem;
  color: #555;
  font-size: 1.76rem;
}

.offer-details__contact {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 40% 55%;
  grid-column-gap: 6rem;
}

.offer-details__contact--container--email, .offer-details__contact--container--phone {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 3rem;
}

.offer-details__contact--button {
  margin: 0 1rem;
  background-color: #000;
  border: solid 0.3rem #fade42;
  color:#fade42;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.5rem 1rem;
}

.offer-details__contact--additional-info p {
  margin-top: 2rem;
  margin-left: 0;
}

.offer-details__offers {
  margin: 5rem 2rem 0 1rem;
  display: flex;
  justify-content: center;
}

.offer-details__offers--base, .offer-details__offers--extended, .offer-details__offers--extra {
  width: 33%;
  box-shadow: 0.1rem 0.1rem 0.9rem 0.5rem #a9a9a994;
  padding: 0 0 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1.5rem;
}

.offer-details__offers--base--header {
  background-color: #fada2757;
}
.offer-details__offers--extended--header {
  background-color: #fada27a6;
}

.offer-details__offers--extra--header {
  background-color: #fada27;
}

.offer-details__offers--base--header, .offer-details__offers--extended--header, .offer-details__offers--extra--header {
  text-align: center;
  font-family: 'Merriweather', serif;
  padding: 1rem;
  margin: 0;
}

.offer-details__offers--base--description, .offer-details__offers--extended--description, .offer-details__offers--extra--description {
  min-height: 20rem;
  padding: 1rem;
}

.offer-details__offers--base--price, .offer-details__offers--extended--price, .offer-details__offers--extra--price {
  margin-top: 2rem;
  text-align: center;
}
